symbols/n8n-cover-letter-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d6f37ea7-92a9-462e-845c-0c0455a18e0a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -80
      ],
      "id": "0058a844-cc49-461e-885d-210d6fddc3db",
      "name": "Webhook",
      "webhookId": "d6f37ea7-92a9-462e-845c-0c0455a18e0a"
    },
    {
      "parameters": {
        "chatId": "-1002793496878",
        "text": "=triggered the cover letter > {{ $json }}\n\n---\n\nhttps://rifaterdemsahin.github.io/coverletter/",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        144
      ],
      "id": "05c61411-df08-48b5-aee3-010f4fb49660",
      "name": "Send a text message",
      "webhookId": "40ac5ce8-4444-4737-98d7-8f29ca248a8c",
      "credentials": {
        "telegramApi": {
          "id": "FNhCBbEpIegop14Z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Used from here > https://rifaterdemsahin.github.io/coverletter/"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -288
      ],
      "typeVersion": 1,
      "id": "9f876fbf-0b17-4af1-b807-99c4fe6f3d54",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "AI Cover Letter Generator Workflow\n\nThis workflow generates personalized cover letters using:\n- CV content from uploaded PDF\n- Job specifications from web form\n- Gemini 2.5 Flash AI model\n\nEndpoint: https://n8n.rifaterdemsahin.com/webhook/d6f37ea7-92a9-462e-845c-0c0455a18e0a",
        "height": 224,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -496
      ],
      "typeVersion": 1,
      "id": "1ad4d0a1-2693-4799-bdae-7bf044bc1845",
      "name": "Workflow Description"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cv-content",
              "name": "cvContent",
              "value": "={{ $json.body.cvContent }}",
              "type": "string"
            },
            {
              "id": "job-specs",
              "name": "jobSpecs",
              "value": "={{ $json.body.jobSpecs }}",
              "type": "object"
            },
            {
              "id": "prompt",
              "name": "prompt",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        160
      ],
      "id": "94180bba-ed96-4558-9a8e-8a1b22b66858",
      "name": "Extract Input Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Persona:**\nYou are an expert cover letter writer with extensive experience in creating compelling, professional cover letters that help candidates stand out in competitive job markets.\n\n**Task:**\nGenerate a personalized, professional cover letter based on the provided CV content and job specifications. The cover letter should be ready to send and demonstrate a clear match between the candidate's skills and the job requirements.\n\n**Instructions:**\n\n1. **Analyze the CV Content**: Review the candidate's experience, skills, education, and achievements\n2. **Review Job Requirements**: Understand the specific role, company, and key requirements\n3. **Create a Professional Structure**:\n   - Professional greeting (use \"Dear Hiring Manager\" if no specific name provided)\n   - Opening paragraph expressing interest and highlighting key qualifications\n   - 2-3 body paragraphs with specific examples and achievements\n   - Closing paragraph with call to action\n   - Professional sign-off with contact information\n\n4. **Key Requirements**:\n   - Use specific metrics and quantifiable achievements when possible\n   - Match candidate's experience to job requirements\n   - Show enthusiasm for the specific company and role\n   - Maintain professional but engaging tone\n   - Keep length to 4-5 paragraphs (300-400 words)\n   - Include contact information at the end\n\n5. **Output Format**:\n   - Return only the cover letter text\n   - No additional commentary or explanations\n   - Proper formatting with line breaks\n   - Include candidate's name, email, and phone at the end\n\n**INPUT DATA**\n\n**CV Content:**\n```\n{{ $json.cvContent }}\n```\n\n**Job Specifications:**\n```\nCompany: {{ $json.jobSpecs.companyName }}\nPosition: {{ $json.jobSpecs.jobTitle }}\nJob Description: {{ $json.jobSpecs.jobDescription }}\nApplicant Name: {{ $json.jobSpecs.applicantName }}\nApplicant Email: {{ $json.jobSpecs.applicantEmail }}\n```\n\n**Reference Example:**\nDear Hiring Manager,\n\nI am writing to express my strong interest in the DevOps Engineer position at your company. With over five years of experience in cloud architecture, automation, and infrastructure management, I am excited about the opportunity to contribute to your team's success.\n\nIn my current role as a Senior DevOps Engineer, I have successfully implemented CI/CD pipelines that reduced deployment time by 60% and improved system reliability by 95%. My expertise spans across Azure WebApps, Kubernetes orchestration, and infrastructure-as-code using Terraform.\n\nWhat particularly excites me about this opportunity is your company's commitment to innovation and cutting-edge technology. I am passionate about implementing robust monitoring solutions and automating complex deployment processes.\n\nI am eager to discuss how my technical expertise and collaborative approach can contribute to your team's continued success. I would welcome the opportunity to speak with you about this position.\n\nThank you for considering my application. I look forward to hearing from you soon.\n\nBest regards,\n\n[Applicant Name]\n[Applicant Email]\n[Applicant Phone]\n\nEnclosure: Resume",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        -96
      ],
      "id": "4a0a6ba2-be9f-478a-83bb-cbd58abd5557",
      "name": "AI Agent - Cover Letter Generator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "cover-letter",
              "name": "coverLetter",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "=null",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        144
      ],
      "id": "249b3efc-e6af-4fdf-ac3f-c337346931b6",
      "name": "Format Response"
    },
    {
      "parameters": {
        "content": "Error Handling\n\nIf the AI generation fails, this node will catch the error and return a proper error response to the frontend.\n\nIt call the core workflow",
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -608
      ],
      "typeVersion": 1,
      "id": "34ed9cc2-e967-4773-8287-8a4e0a33470e",
      "name": "Error Handling Note"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        -96
      ],
      "id": "b5f8a72f-b3b4-4882-95ea-ceb0abbcc184",
      "name": "Webhook Response1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        160
      ],
      "id": "0a1b31ee-dbd0-4a15-90cf-6c4ead3bb028",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "e95QbimUJvBb4tqj",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input Data": {
      "main": [
        [
          {
            "node": "AI Agent - Cover Letter Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Cover Letter Generator": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Cover Letter Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3df7c7c6cb7e0e978bf80ded11fce953795594ae8fe07b63ac449418b447c9e7"
  }
}